*{
    font-family: 'Open Sans', sans-serif;
}
video{
    display: block;
    width: 100%;
    background-color: black;
}
.overlayName{
    position: absolute;
    color: white;
    margin-left: 4px;
    z-index: 2;
}
.muteButton{
    z-index: 3;
    position: absolute;
}
.muteButton img{
    height: 30px;
    width: 30px;
    opacity: 0.8;
}
.mainCont{
    position: relative;
    width: 100%;
    min-width: 1360px;
    padding-top: 50px;
}
.firstView div{
    display: inline-block;
    width: 33.333%;
    height: 50%;
}
.firstView, .sideView{
    font-size: 0px;
}
.firstView .overlayName{
    font-size: 20px;
}
.mainView{
    width: 83.3%;
    position: absolute;
}
.mainView .overlayName{
    font-size: 25px;
}
.sideView{
    width: 16.7%;
    position: absolute;
    right: 0px;
}
.sideView .overlayName{
    font-size: 15px;
}
.firstView .muteButton{
    margin-left: 30.5%;
    margin-top: 16.2%;
}
.sideView .muteButton{
    margin-left: 86%;
    margin-top: 44%;
}
.mainView .muteButton{
    margin-left: 97%;
    margin-top: 53%;
}
#FixedTho{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    height: 50px;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    background: rgba(245, 246, 248, 0.7);
    display: block;
    z-index: 999;
}
#headText{
    position: fixed;
    top: -15px;
    font-size: 20px;
    left: 10px;
    z-index: 999;
}
#icon{
    height: 40px;
}